# Dependencies (Dono frontend aur backend ke liye)
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (Security ke liye sabse zaroori)
**/ .env
**/.env.local
**/.env.*.local

# Production Build Outputs
**/dist/
**/build/

# IDE / System files
.DS_Store
/.vscode/