@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #1368EC;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        width: 256px;
    }

    .sidebar.open {
        width: max-content;
    }

    .sidebar.open .item-title,
    .sidebar.open .header-title,
    .sidebar.open .profile-details 
    {
        display: none;
    }
}

/* Sidebar */
@media (max-width: 1023px) {
    .sidebar {
        width: 256px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        margin-left: -16rem;
        transition: margin-left .3s ease;
    }

    .sidebar.open {
        margin-left: 0;
    }
}